Converge response codes and general API semantics on the HTTP RFC

Using [RFC7231](https://tools.ietf.org/html/rfc7231) as the standard
- ensure all return codes and content conform
- document the expected behaviour
- document behaviour that might be requested but will not be implemented
    - specifically, POST requests will not be dual-purposed as a means of canonically updating an existing resource. POST is for creating, PUT is for updating, and that's the end of the discussion. PATCH is arguably valid, but IMO just a way of making PUT requests unnecessarily complicated.

In #10 I removed the schema-build altogether, making this redundant.

In progress.

For POST, I'm explicitly adopting this practice from [Section 4.3.3 of RFC 7231](https://tools.ietf.org/html/rfc7231#section-4.3.3):
```
   If one or more resources has been created on the origin server as a
   result of successfully processing a POST request, the origin server
   SHOULD send a 201 (Created) response containing a Location header
   field that provides an identifier for the primary resource created
   (Section 7.1.2) and a representation that describes the status of the
   request while referring to the new resource(s).
```

For PUT, I'm going with [Section 4.3.4](https://tools.ietf.org/html/rfc7231#section-4.3.4):
```
   If the target resource does not have a current representation and the
   PUT successfully creates one, then the origin server MUST inform the
   user agent by sending a 201 (Created) response.   If the target
   resource does have a current representation and that representation
   is successfully modified in accordance with the state of the enclosed
   representation, then the origin server MUST send either a 200 (OK) or
   a 204 (No Content) response to indicate successful completion of the
   request.
```
204 seems right to me: if you've successfully modified it, you already know its URI.

However, this does indicate that I need to detect cases where the previous state was Null, and return 201 accordingly.

Merged the improvements as they are, so I'm calling this as done as it's getting right now.
I expect to refine this a little when I implement HATEOS.